/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "zen";
@import "layout";



/**
 *  Colours
 **/

$black:     #222;       // custom black
$white:     #fff;       // standard white
$col1:      #002F2F;    // beige
$col2:      #046380;    // blue
$bg:        #A7A37E;    // main background colour
$bg2:       darken($bg, 25%);

/**
 *  Mixins
 **/

// Menu Items - general
@mixin menu-item {
  display: inline-block;
  a {
    @include border-radius(5px);
    background: $black;
    color: $bg;
    padding: .5em 2em;
    text-decoration: none;
    text-transform: uppercase;
    &:focus,
    &:hover {
      background: $bg;
      color: $black;
    }
  }
}

// Menu Margins - used to position all menu items, except menu 1
@mixin menu-margin {
  margin-right: 28px;
}

/**
 *  Fonts
 **/

// Open Sans - main font on the website
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
// Oswald - used for headings, etc - suggested by "pairings" on Google Fonts
@import url(http://fonts.googleapis.com/css?family=Oswald);
// Bowlby One SC // Used for main site heading
@import url(http://fonts.googleapis.com/css?family=Bowlby+One+SC);

// Font Sets

// Open Sans
$open-sans:   'Open Sans', Arial, Helvetica, sans-serif;

// Oswald
$oswald:      Oswald, 'Open Sans', Arial, Helvetica, sans-serif;

// Bowlby One SC
$bowlby:    'Bowlby One SC', $oswald;

html {
  background: $bg;
}
h1 {
  font-family: $bowlby;
}
h2,
h3,
h4,
h5,
h6 {
  font-family: $oswald;
}
body {
  font-family: $open-sans;
  color: darken($white,20%);
  line-height: 1.25;
}

#page-wrapper {
  background: $bg;
  margin-top: 1em;
}

#header {
  @include border-radius(10px 10px 0 0);
  background: $bg2;
  border-top: 2px solid $black;
  border-left: 2px solid $black;
  border-right: 2px solid $black;
  h1 {
    color: $bg;
    font-size: 3.8rem;
    text-transform: uppercase;
    text-align: right;
    &:focus,
    &:hover {
      color: darken($bg,3%);
   }
  }
}

#menu-wrapper {
  background: $bg2;
  border-top: 2px solid $black;
  border-bottom: 2px solid $black;
  margin-top: -2px;
}

#menu {
  padding: 1em 0;
  .menu-item-1 {
    @include menu-item;
    @include menu-margin;
  }
  .menu-item-2 {
    @include menu-item;
    @include menu-margin;
  }
  .menu-item-3 {
    @include menu-item;
  }
}

#main-wrapper {
  @include border-radius(0 0 10px 0);
  background: $bg2;
  border-bottom: 2px solid $black;
  border-left: 2px solid $black;
  border-right: 2px solid $black;
  margin-top: -2px;
  padding-bottom: 1em;
}

.main-aside {
  @include border-radius(10px 0 0 10px);
  background: $black;
  padding: 1em;
}

#footer-wrapper {
  margin-bottom: 1em;
}

#footer {
  @include border-radius(0 0 10px 10px);
  background: $bg2;
  border-bottom: 2px solid $black;
  border-left: 2px solid $black;
  border-right: 2px solid $black;
  margin: -2px 0 0 -2px;
  .footer-block-1 {
    @include border-radius(10px 10px 0 0);
    background: $black;
    padding: 1em;
  }
}
