/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "zen";
@import "layout";



/**
 *  Colours
 **/

$black:     #000;       // standard black
$white:     #fff;       // standard white
$blue:      #003366;    // the main blue
$yellow:    #FFF10D;    // the main yellow

/**
 *  Mixins
 **/

/**
 *  Fonts
 **/

// Open Sans - main font on the website
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
// Oswald - used for headings, etc - suggested by "pairings" on Google Fonts
@import url(http://fonts.googleapis.com/css?family=Oswald);

// Font Sets

// Open Sans
$open-sans:   'Open Sans', Arial, Helvetica, sans-serif;

// Oswald
$oswald:      Oswald, 'Open Sans', Arial, Helvetica, sans-serif;

html {
  background: $blue;
}
body {
  font-family: $open-sans;
}

#page-wrapper {
  background: $blue;
}

#main-wrapper {
  background: lighten($yellow,20%);
}
