/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "zen";
@import "layout";



/**
 *  Colours
 **/

$black:     #000;       // standard black
$white:     #fff;       // standard white
$blue:      #003366;    // the main blue
$yellow:    #FFF10D;    // the main yellow
$bg:        lighten($blue, 60%); // main background colour

/**
 *  Mixins
 **/

/**
 *  Fonts
 **/

// Open Sans - main font on the website
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
// Oswald - used for headings, etc - suggested by "pairings" on Google Fonts
@import url(http://fonts.googleapis.com/css?family=Oswald);
// Bowlby One SC // Used for main site heading
@import url(http://fonts.googleapis.com/css?family=Bowlby+One+SC);

// Font Sets

// Open Sans
$open-sans:   'Open Sans', Arial, Helvetica, sans-serif;

// Oswald
$oswald:      Oswald, 'Open Sans', Arial, Helvetica, sans-serif;

// Bowlby One SC
$bowlby:    'Bowlby One SC', $oswald;

html {
  background: $bg;
}
h1 {
  font-family: $bowlby;
}
h2,
h3,
h4,
h5,
h6 {
  font-family: $oswald;
}
body {
  font-family: $open-sans;
  color: darken($white,20%);
  line-height: 1.25;
}

#page-wrapper {
  background: $bg;
  margin-top: 1em;
}

#main-wrapper {
  background: $blue;
}

#header {
  background: $yellow;
  //@include border-radius(1em 1em 0 0);
  h1 {
    color: $bg;
    font-size: 3.8rem;
    text-transform: uppercase;
    text-align: center;
  }
}
#menu {
  background: $yellow;
  border-bottom: 1px solid $white;
  padding: 1em 0;
  .menu-item {
    display: inline-block;
    padding: 0 1rem;
    a {
      color: $blue;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}
